<h3>SUMMARY OF ENROLLMENT AGREEMENT TERMS</h3>
<ol>
  <li>GENERAL. We provide you with a program that includes pre-course work and classroom instruction. After you complete the Course, you will have an opportunity to participate in our internship program.
  </li>
  <li>REGISTRATION. You agree that you are at least 18 years old and will attend all scheduled sessions. If you fail to attend 3 full classes, then we can dismiss you. You will be required to provide us with a non-refundable deposit of $1,000.00 to reserve your spot.
  </li>
  <li>FEES AND FINANCIAL POLICIES. You agree to pay the Tuition when we send you an invoice, but if you do not pay on the date Tuition is due, you will not receive access to the Course. If you withdraw from the Course within thirty (30) days following the first day of the Course, you may be entitled receive a refund of Tuition less the Deposit.
  </li>
  <li>FINANCIAL AID AND REFUND POLICIES. Unfortunately, we are unable to offer financial aid to you. You have the ability to cancel your enrollment and withdraw at any time, but in order to do so you must contact the Dean of Students by emailing dean@anyonecanlearntocode.com. In the event you withdraw, dropout and/or dismissed prior to completing sixty percent (60%) of the Course, you will receive a refund less the Deposit. Any refunds will be pro-rated based on the number of days you attend the Course. In the event you complete sixty percent (60%) of the Course, you will no longer be eligible for any refund.
  </li>
  <li>STUDENT CONDUCT. By enrolling, you agree that you will not be disruptive to the class or instructors and help keep the classroom a safe and secure environment. You agree to be respectful and mindful of others’ needs, and will ensure that you will not cause injury to others.
  </li>
  <li>SCHEDULE CHANGES. You understand that classes are subject to change and we will post any changes online or provide you with notice of such changes. Please keep in mind that sometimes there are emergencies, but if the timeframe of any Course is changed for any unforeseen circumstance prior to the start of the Course, you are entitled to a refund if you opt out of the course because of such scheduling conflict.
  </li>
  <li>PERFORMANCE GUARANTEE. Although we will provide you with skills necessary to learn web development, we are unable to guarantee that you will know every aspect of web development, that the class will suit your needs and/or that your skills will improve.
  </li>
  <li>JOB SEARCH. We try to help you find open positions in the area of web development after you complete the Course. We cannot guarantee that you will obtain employment after getting an interview, but we will introduce you to recruiters that may be able to help.
  </li>
  <li>COURSE MATERIALS. We will provide you with materials that you receive access to during the Course such as books, aids, instructions, studies, videos and the like. The information we provide to you is confidential and you are not allowed to sell it, copy it and/or share it with others.
  </li>
  <li>COURSE RELEASE AND CAPTURE. You agree to give us permission to use your image and/or likeness in various promotional materials and educational materials without any compensation and further agree that you will not get the right to inspect how we use your image and/or likeness. We will be the sole owner of the foregoing.
  </li>
  <li>TERM &amp; TERMINATION. If you breach any of the terms of this Agreement, then we will not be required to provide you with a refund and you will have to return all materials given to you.
  </li>
  <li>LIMITATION OF LIABILITY. If one party brings a claim against the other party and suffers damages, each party’s maximum liability for direct damages is capped at the fees that you pay to us.
  </li>
</ol>

<h3>ENROLLMENT AGREEMENT</h3>
<p>This Enrollment Contract (“Agreement”) is made between JMW Technologies, LLC d/b/a Anyone Can Learn To Code (“Provider”) with an office in Chicago IL and you (the “Student”). 
<p>By clicking on the “Accept” button on the screen, and/or by submitting a registration and enrollment form, Student acknowledges and agrees that Student has read, understands and agrees to be bound by all of the terms and conditions of this Agreement, as well as all other applicable rules or policies, terms and conditions or agreements that are or may be established by Provider from time to time and the foregoing shall be incorporated herein by reference.
<p>In consideration of the mutual agreements below, and intending to be legally bound, the parties agree:</p>

<p>1. GENERAL. The Provider offers a web development training program that educates students to create web based software using modern technologies. The course aims to provide the necessary skills to pursue a career in software engineering while still allowing students to maintain a full-time job during the program.The Provider shall provide a fifteen (15)-week program with a course of study in the area of web development (the “Course”). The first three (3) weeks consist of online pre-course- work (“Pre-Work”). Students are required to complete all Pre-Work Course assignments in order to gain access to the in-person instruction. The remaining twelve (12) weeks of the Course shall be completed in a classroom setting (“Classroom Instruction”). After successful completion of the Course, Student may elect to participate in an internship program for a period of up to seventeen (17) weeks to work on various web development projects. A Student who elects to participate in the foregoing will receive an internship agreement from Provider for review and signature.

<p>2. REGISTRATION.</p>
<p>A. Student acknowledges that he or she is at least 18 years old and has a high school diploma/GED or foreign equivalent at the time of application. </p>
<p>B. Student acknowledges that he or she is conversant in the English language and that all instruction by the Provider in the English language and that the Provider does not offer or provide English language support services.</p>
<p>C. Student acknowledges that attendance at all scheduled sessions and completion of all assigned material and practice of the skills learned throughout the Course are required to obtain mastery of the material.</p>
<p>D. By enrolling in this Course, the Student agrees to attend all scheduled sessions of instruction, unless otherwise excused by the Provider, and complete all exercises given throughout the Course.</p>
<p>E. Student understands that to secure and reserve a spot in a cohort, Student must make a non-refundable deposit in the amount of One Thousand Dollars ($1,000). Students secure a spot on a first-come-first-serve basis.</p>
<p>F. Student understands that it is Student’s responsibility to verify whether the Provider received the signed Agreement and that Student’s tuition is paid in full per the terms of this Agreement.</p>
<p>G. Student understands that the Provider has the right to withdraw Student from the Course at any time for any reason and in such event Provide shall provide Student with a prorated refund of the paid tuition.</p>
<p>H. Student understands that the Course requires complete participation and that full and complete attendance to all classes throughout the duration of the Course is required. Student will be dismissed if either three (3) full classes or their equivalent were not attended.</p>

<p>3. FEES AND FINANCIAL POLICIES. In consideration for providing the Course, Student agrees to pay Provider tuition as follows:</p>
<p>A. Student shall pay tuition fees in an amount equal to Twelve Thousand Five Hundred Dollars ($12,500.00) (“Tuition”). Tuition shall be paid upon enrollment.</p>

<p>4. FINANCIAL AID AND REFUND POLICIES</p>
<p>A. The Provider does not offer any financial aid to students. Information about third-party lending institutions are available upon request.</p>
<p>B. Student financial obligations are handled with the utmost care and transparency. Policies governing finances are fair and equitable, legal and conform to all local, state and federal laws.</p>
<p>Process for Obtaining a Refund</p>
<p>Students must contact the Dean of Students by emailing dean@anyonecanlearntocode.com to cancel their seat in the program and discuss options for deferment if applicable and calculation of refund.</p>
<p>Student’s Right to Cancel and Withdraw</p>
<p>Students have the right to cancel their enrollment and withdraw from the program at any time.</p>
<p>Calculation of Refund Amount</p>
<p>Students who withdraw, or drop out, or are dismissed prior to completing 60% of their program will receive a pro rata refund, less the non-refundable registration fee of $1,000. After completing 60% of the course students are no longer eligible for a refund unless dismissed from the course.</p>
<p>The last date of actual attendance is used in calculating any refund amount.</p>
<p>The refund to be paid to students for their program of instruction shall be calculated as follows:</p>
<p>1. Divide the tuition by the number of days in the program.</p>
<p>2. The quotient is the daily charge of tuition for the program.</p>
<p>3. The amount the student owes for purposes of calculating the refund is derived by multiplying the number of days the student attended during the program, before withdrawal, by the daily charge for tuition.</p>
<p>4. The refund is the difference between the amount originally charged for the program, less the non-refundable registration fee, and the amount calculated in #3.</p>
<p>If, after the completion of the Institution Refund Policy calculation, a credit balance exists on the student’s account, the Institution will refund the credit balance to the student, or to the applicable lender, or another appropriate source.</p>
<p>Students do not have the right to cancel by calling Anyone Can Learn To Code or by not coming to class. The failure of a student to notify the Dean of Students in writing of withdrawal may delay refund of tuition. All refunds due will be made within 45 days of the student&#39;s effective withdrawal date or cancellation. Anyone Can Learn To Code refund calculation will be based on the scheduled days of class attendance. The last date of actual attendance is used in calculating any refund amount.</p>
<p>In case of prolonged illness, accident, death in the family, or other circumstances that make it impractical to complete the program, a refund that is reasonable and fair to both parties shall be made, but in no event will the amount refunded be less than that reflected in the applicable refund schedule.</p>
<p>Withdrawal Date</p>
<p>When any of the following occur, the effective withdrawal date for the student shall be:</p>
<p>1. The date the student notifies the school of withdrawal.</p>
<p>2. The beginning date of any phase in which a student fails to start classes.</p>
<p>3. The date when the school terminates the student’s enrollment for failure to meet performance skill level, or violation of school policies or rules.</p>
<p>4. The date the student is scheduled to return from a leave of absence and fails to do so.</p>

<p>5. STUDENT CONDUCT.</p>
<p>A. Student agrees that Student will not engage in any activity in the classroom that would, by common sense standards, be disruptive to the class as a whole and/or inconsiderate to other individual students in the class. Students shall cooperate with the instructors.</p>
<p>B. Students shall adhere to a standard of professional conduct and integrity to ensure that the classroom environment is safe, comfortable and productive.</p>
<p>C. Students should be respectful, courteous, and mindful of others’ feelings and needs.</p>
<p>D. Student shall ensure that bags, clothing, food and other belongings are safely managed. The foregoing shall be stored accordingly so that it does not cause injury to others and/or prevent full accessibility in the event of an emergency.</p>

<p>6. SCHEDULE CHANGES.</p>
<p>A. Student acknowledges and agrees that all Provider classes are subject to change. Any changes to the time, date or location of a class will be posted online or otherwise provided to the Student.</p>
<p>B. Provider commits to the timeframe specified for each Course and to providing instruction in the location specified. In the event of an unforeseen emergency, location may change to another site in the downtown area of the same city. If the timeframe for a Course is changed for unforeseen circumstances prior to the start of the Course, Student is entitled to a refund if Student opts out of the course due to a scheduling conflict with the revised schedule.</p>

<p>7. GUARANTEE OF PERFORMANCE; DISCLAIMER.</p>
<p>The Course will include the fundamental skills necessary to learn web development as well as the ability to practice such skills in the classroom setting. Student acknowledges that while this Course will be as comprehensive as allotted by time, completion of this Course does not guarantee that Student will know every aspect of web development. Student acknowledges and agrees that the Provider makes no guarantee, express or implied, regarding the Course and/or any improvement of Student’s skills. EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, NEITHER PARTY MAKES ANY REPRESENTATION AND/OR WARRANTY, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>8. INTRODUCTIONS AND JOB SEARCH.</p>
<p>Upon completion of the Course, Provider will attempt to match Student with appropriate companies and recruiters to allow Student to compete for open positions in the area of web development. By accepting any proposed meeting with any employer and/or recruiter facilitated by Provider, the Student acknowledges and agrees that Provider makes no representation that any such meeting will lead to any offer of employment. Further, Student acknowledges that completion of the Course does not guarantee that Student will obtain employment in web development.</p>

<p>9. COURSE MATERIALS AND RECORDINGS.</p>
<p>A. During the Course, Provider may provide materials to Student including but not limited to:</p>
<p>all information related to Provider to which the Student has access, whether in oral, written, graphic or machine-readable form, in the course of or in connection with the Course, including but not limited to notes, analyses, studies, videos, books, tests, and other aids, procedures, techniques, operating methods, know-how, processes, formulas, source and object codes, data, improvements, plans, and/or marketing information and any other information which could reasonably be expected to benefit competitors of Provider (collectively, “Provider Materials”).</p>
<p>B. Student understands that the Provider Materials that Student receives are confidential and proprietary to Provider, and shall not be sold, loaned, rented, given away, distributed, advertised for sale on the internet and/or through any other medium, and/or exploited in any manner.</p>
<p>C. Student agrees that Student will not copy or cause to be copied and/or reproduced in any manner, electronic and/or otherwise, any of the Provider Materials, any notes based on the Provider Materials and/or any notes based on the Course.</p>

<p>D. Student agrees that any attempt through any medium to sell, loan, rent, give away, distribute and/or copy any of the Provider Materials will constitute a breach of this Agreement.</p>
<p>E. Breach of this Article 7 may result in irreparable and continuing damage to Provider for which monetary damages may not be sufficient, and Student agrees that Provider will be entitled to seek, in addition to its other rights and remedies hereunder or at law, injunctive or all other equitable relief as may be proper from a court of competent jurisdiction.</p>
<p>F. Student agrees that Student will not tape-record, video-record, transmit, photograph, and/or otherwise reproduce the Course and/or any and all classes that Student attends.</p>
<p>G. Student agrees that Student will not tape-record, video-record, and/or photograph any Provider instructors and/or other students in any classes that Student attends.</p>
<p>H. Student agrees to indemnify, defend and hold harmless the Provider, its officers, agents, employees and assigns from any and all claims, judgments, actions, suits, proceedings, demands, liabilities, costs, losses, damages and expenses (including reasonable attorneys’ fees) arising out of or relating to a breach of this Article 8.</p>

<p>10. COURSE RELEASE AND CAPTURE.</p>
<p>A. Student hereby grants to Provider permission to use, adapt, reproduce, distribute, publicly perform and display, in any form now known or later developed, Student’s image and/or visual likeness, voice, whether through audio, photograph or picture (e.g. student presentation, small group discussion or comments in a seminar) (collectively “Personal Information”) throughout the world, by incorporating it or them into publications, brochures, exhibit, videotapes, and/or other media for informational, educational, advertising and/or promotional materials relating thereto. Student understands that Student shall receive no money and/or remuneration related to the foregoing consent.</p>
<p>B. Student hereby releases and agrees to indemnify, defend and hold harmless the Provider, its officers, agents, employees and assigns from any and all claims, judgments, actions, suits,proceedings, demands, liabilities, costs, losses, damages and expenses (including reasonable attorneys’ fees) arising out of or relating to a claim that Student and/or any third party, may have now or in the future for invasion of privacy, right of publicity, copyright infringement, defamation or any other cause of action arising out of the use, reproduction, adaptation, distribution, performance and/or display of the Personal Information.</p>
<p>C. Student waives any right to inspect and/or to approve any works created using the Personal Information and waives any and all claims related thereto. The Personal Information may be used at Provider’s sole discretion except that Provider will not use Personal Information for any criminal or illegal purposes and/or in a manner inconsistent with community standards of decency.</p>
<p>D. Student acknowledges and agrees that Provider is and shall be the exclusive owner of all right, title and interest, including copyright of materials containing the Personal Information.</p>
<p>E. Student hereby certifies and represents that Student is over eighteen (18) years of age and has read the foregoing and fully understand the meaning and effect thereof.</p>

<p>11. TERM &amp; TERMINATION.</p>
<p>A. Term. This Agreement shall commence on the date the last party signs the Agreement below and shall continue until completion of the Course.</p>
<p>B. Termination. In the event Student breaches this Agreement, in addition to all other legal remedies Provider has against Student, Provider may terminate this Agreement immediately, without liability. In the event of the foregoing, (i) Provider will not provide a refund to Student, (ii) Student shall return Provider Materials that Student has received from Provider at Student’s expense within three (3) business days of Provider’s request and (iii) Student will not attend any future Course without Provider’s prior written permission.</p>

<p>12. LIMITATION OF LIABILITY.</p>
<p>EACH PARTY’S TOTAL AND CUMULATIVE LIABILITY FOR DIRECT DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT SHALL IN NO EVENT EXCEED THE FEES PAYABLE BY STUDENT TO PROVIDER. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, IN NO EVENT WILL PROVIDER BE LIABLE FOR ANY INDIRECT, INCIDENTAL,CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES (INCLUDING WITHOUT LIMITATION LOST PROFITS) EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, THE EXCLUSIONS AND LIMITS STATED IN THIS AGREEMENT DO NOT APPLY TO ANY OF STUDENT’S OBLIGATIONS TO PAY FEES AND COSTS TO PROVIDER HEREUNDER.</p>

<p>13. ENTIRE AGREEMENT.</p>
<p>This Agreement constitutes the final, complete, and exclusive statement of the terms of this Agreement between Provider and Student pertaining to the subject matter of this Agreement and supersedes all prior and contemporaneous understandings of the parties. No party has been induced to enter into this Agreement by, nor is any party relying on, any representation, understanding, agreement, commitment and/or warranty outside of the terms that are expressly set forth in this Agreement.</p>

<p>14. SEVERANCE.</p>
<p>If any provision of this Agreement shall be held to be invalid, illegal, unenforceable or in conflict with the law of any jurisdiction, the validity, legality and enforceability of the remaining provisions shall not thereby in any way be affected or impaired.</p>

<p>15. AMENDMENTS.</p>
<p>This Agreement and any amendments thereto may be executed in counterparts and will not be effective or enforceable unless and until it is executed with the signature of an authorized representative of each of the relevant parties.</p>

<p>16. GOVERNING LAW AND CHOICE OF FORUM.</p>

<p>This Agreement will be governed by, and construed in accordance with, the internal laws of the State of Illinois, without regard to its choice of laws principles. Any action related to or arising from this Agreement shall take place exclusively in the courts situated in the City of Chicago, Cook County, Illinois and the parties hereby submit to the venue of the courts situated therein.</p>

<p>17. SURVIVAL &amp; WAIVER.</p>

<p>Any provision of this Agreement which, by its nature, would survive termination or expiration of this Agreement will survive any such termination or expiration of this Agreement. No waiver of any of the terms of this Agreement will be valid unless in writing and designated as such. Any forbearance or delay on the part of either party in enforcing any of its rights under this Agreement will not be construed as a waiver of such right to enforce same for such occurrence or any other occurrence.</p>

<p>18. NOTICES.</p>

<p>All notices given under this Agreement must be in writing, sent to the parties and addresses designated herein, by certified mail (return receipt requested), overnight courier or personal delivery.</p>