<div class="row">
  <div id="success" class="col-md-4">
    <h1>Thank you for registering for Anyone Can Learn To Code!</h1>
    <h2>To officially secure your spot in the course, you will now need to make your $1,000 deposit. To do so, you can either send the deposit via Chase Quickpay to bursar@anyonecanlearntocode.com OR <a href="https://secure.cardknox.com/anyonecanlearntocode">make a credit card payment here</a>.</h2>
  </div>
</div>