<div class="jumbotron" id="thank-you-container">
  <div class="container">
    <div id="success" class="col-md-12">
      <h1>Thank you for registering for Actualize!</h1>
      <h2>To officially secure your spot in the course, you will now need to make your $1,000 deposit. To do so, you can either send the deposit via Chase Quickpay to bursar@anyonecanlearntocode.com</h2>
      <h1>OR</h1>
      <a class="btn btn-primary btn-lg" id="creditcard-button" href="https://secure.cardknox.com/anyonecanlearntocode" role="button">Make A Credit Card Payment Here.</a>
    </div>
  </div>
</div>