// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #FBBB00 !important;
}

#enrollment-image-row {
  background-color: #fff;
}

#actualize-logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form {
  width: 50%;
}

#success {
  width: 50%;
}

